<!DOCTYPE html>
<html lang="en" ng-app="bdictApp">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta name="fragment" content="!" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NTI Buddhist Text Reader">
    <meta name="fragment" content="!">
    <link rel="shortcut icon" href="/images/yan.png" type="image/jpeg" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/buddhistdict.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57634593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-57634593-1');
    </script>
  </head>
  <body ng-controller="CorpusListCtrl">
    <div class="starter-template">
      <div class="row">
        <div class="span2"><img id="logo" src="/images/yan.png" alt="Logo" class="pull-left"/></div>
        <div class="span7"><h1>NTI Buddhist Text Reader</h1></div>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/taisho/taisho.html">Texts</a></li>
            <li><a href="/dict_resources.html">Resources</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <h2>{{.Title}}</h2>
      <p>{{.Summary}}</p>

      <table class="table table-bordered table-hover">
        <thead>
          <tr><th>Title</th></tr>
        </thead>
        <tbody>
        {{ range $element := .CorpusEntries }}
          <tr>
            <td><a href='/{{$element.GlossFile}}'>{{ $element.Title }}</a></td>
          </tr>
        {{ end }}
        </tbody>
      </table>
      
      {{.Intro}}

      <p><a href="/analysis/{{.AnalysisFile}}">Glossary and vocabulary analysis</a></p>

      <hr/>
      <footer>
        <p>
          See the <a href="/help.html">Help</a> page for more
          information on the best use of the dictionary or if you have problems.
          Tell us about 
          <a href="https://docs.google.com/forms/d/1jhgO00n3izZK6EeqHHV6dZPuvFMV5KcAhKuqC26P8Ko/viewform"
          >a problem</a>.
          Tell us about your experience on this web site using
          <a href="https://docs.google.com/forms/d/1567O1wI8gtT8HNr4Kq3qEiIMRoGDoZE0d2GXyjxb7ko/viewform"
          >this form</a>.
          Add a new word or suggest a change to a dictionary entry defintion
          with 
          <a href="https://docs.google.com/forms/d/1AcPDJ3CSIyn7MNVDKiMHby4EMPH0g3FxwLRTlJKhxmA/viewform"
          >this form</a>.
        </p>
        <p>
          The NTI Buddhist Text Reader is a general purpose Chinese text reader
          and Chinese-English dictionary with many Buddhist terms.
          Non-Buddhist Chinese text content is at 
          <a href="http://chinesenotes.com/">Chinese Notes</a>.
          For recent changes, see the <a href="/whatsnew.html">What's New</a>
          page.
        </p>
        <p>
          佛光山南天大學佛教文本閱讀器。
          Copyright Fo Guang Shan Nan Tien Institute 佛光山南天大學 2013-2018, 
          <a href="http://www.nantien.edu.au/" title="Fo Guang Shan Nan Tien Institute">www.nantien.edu.au</a>. Materials may be reused
          in accordance with the open source license. See the <a href="/about.html">About</a> 
          for details.
          If you have any trouble using this site or have a suggestion, please contact alex@ntireader.org.
        </p>
        <p>This page was last updated on {{.DateUpdated}}.</p>
      </footer>
    </div><!-- /.container -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>