body {
  padding-top: 60px;
}
.starter-template {
  padding: 0px 15px;
  text-align: center;
}
#logo{
  padding: 15px;
}

/* Tool Tips */
#toolTip {
    position: absolute;
    max-width: 200px;
    display: none; 
    border: solid gray 1px;
    background-color: #FF8;
    padding: 5px;
}

#wordImage {
    float:  right;
}

div.text {
    border: solid gray 1px;
    background-color: #DFD;
    padding: 10px;
}

div.commentary {
    border: solid gray 1px;
    background-color: #EEE;
    padding: 10px;
}
