/**
 * Style sheet for web project.
 */

/*  Basic page styles */
body {
    font-family: DejaVu Sans, Liberation Sans, Arial, Helvetica, sans-serif;
    font-size: 15.5px;
    color: rgb(93,93,93);
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 0px;
    max-width: 1100px;
    background-color: rgb(241, 241, 241);
}

div.content {
    padding: 40px;
    background-color: #FFFFFF;
}

p {
    padding: 10px;
    background-color: #FFFFFF;
}

#logo {
    padding-left: 20px;
    float: left;
}

/*  Menu */
p.menu {
    background-color: #777777;
}

a.menu {
    padding: 8px;
    color: #FFFFFF;
}

a.menu:hover { 
    background-color: #444444;
}

span.selected {
    padding: 8px;
    background-color: #444444;
    color: #FFFFFF;
}


/*  Headers */
h1 { 
    padding: 10px;
    color: rgb(177,17,22);
    text-align: center;
    font-weight: normal;
}

h2 { 
    color: rgb(177,17,22);
    text-align: left;
    font-weight: normal;
}

h3 { 
    color: rgb(177,17,22);
    text-align: left
}

/* Links */
a {
    text-decoration: none;
}

a:hover { text-decoration: underline; }

img { border: 0; }

/* Text documents */
.author {
    font-style: italic;
    text-align: center;
}

.source {
    text-align: center;
}

.copy {
    font-style: italic
}

/* Search page */
div.search {
	text-align: center;
  	padding: 10px;
}

#searchPhrase {
	display: none;
}

#advancedDiv {
	display: none;
}

fieldset {
    border: none;
}

/* Tables */
table {
    background-color: #EEEEEE;
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #CCCCCC;
    border: 1px solid gray;
    padding: 0.5em;
}

td {
    border: 1px solid gray;
    padding: 0.5em;
}


/* Character Detail */
#largeChar {
    background-color: #EEEEEE;
    font-size: 100pt;
    padding: 0em;
}

#largeCharacter {
    background-color: #EEEEEE;
    text-align: center;
}

#charDetailPinyin {
    background-color: #EEEEEE;
    text-align: center;
}

p.intable {
    background-color: #EEEEEE;
    padding: 0em;
}

form.intable {
    background-color: #EEEEEE;
    padding: 0em;
}

/* Tool Tips */
#toolTip {
    position: absolute;
    max-width: 200px;
    display: none; 
    border: solid gray 1px;
    background-color: #FF8;
    padding: 5px;
}

/* Pictures */

div.caption {
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

div.picture {
	text-align: center;
	border: 0;
}

span.cursive {
    font-family: cursive;
}

/* Dictionary Entry style */
span.dict-entry-headword {
    font-size: 200%;
    font-weight: normal;
}
span.dict-entry-pinyin {
    font-weight: bold;
    font-size: 120%;
}

span.dict-entry-grammar {
    font-style: italic;
    font-size: 120%;
}

span.dict-entry-definition {
    font-size: 120%;
}

span.dict-entry-notes {
    font-weight: bold;
}

/* Highlight for headword in usage */
span.usage-highlight {
    color: red;
}